<html>

<body>
    <h2>Edit Module</h2>

   
            <form action="/addStudent" method="POST">
                <label>Module ID:</label><br>
                <input type="text" name="mid"><br>
                <label>Name:</label><br>
                <input type="text" name="name"><br><br>
                <label>Credits:</label><br>
                <input type="number" name="credits"><br><br>
                <input type="submit" value="OK">
            </form>
</body>
<a href="/">Home Page</a><br>

</html>
